@import 'react-toolbox/lib/colors.css';

.header {
  color: var(--color-dark-contrast);

  & .navigation {
    & [data-react-toolbox='link'] {
      color: var(--color-dark-contrast);
    }

    & svg {
      fill: currentColor;
    }
  }
}
