@import 'react-toolbox/lib/colors.css';

.header {
  color: var(--color-dark-contrast);

  & .navigation {
    & [data-react-toolbox='link'] {
      color: var(--color-dark-contrast);
    }

    & svg {
      fill: currentColor;
    }
  }

  & .logo {
    animation: logo-spin infinite 5s linear;
    height: 32px;
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
